.App {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  font-family: 'Helvetica';
  font-size: 16px;
}

header {
  height: 64px;
}

header > svg {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 30px;
}

.intro > h1 {
  color: #102261;
  font-family: 'Georgia';
  font-weight: normal;
}

.intro > p {
  color: #333333;
}

.content-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 575px;
  padding-top: 100px;
}


